# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
ENV/
.venv/
.env/

# VS Code settings
.vscode/

# Distribution / packaging
build/
dist/
*.egg-info/

# Test and coverage reports
htmlcov/
.coverage
.tox/
.pytest_cache/

# Misc
*.log
